@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --purple-600: 257, 40%, 49%;
    --magenta-600: 300, 69%, 71%;
    --magenta-800: 322, 100%, 66%;
    --white: #fff;

    --fs-heading: 1.5rem;
    --lh-heading: 2.25rem;
    --fs-body: 1rem;
    --lh-body: 1.5rem;
    --fs-button: 0.75rem;
    --ln-button: 1.125rem;

    --fw-normal: 400;
    --fw-bold: 600;

    --icon-height: 1.75rem;
    --icon-width: 1.69638rem;

    --btn-height: 2.5rem;
    --radius: 1.25rem;

    --logo-width: 7.5rem;
   
}

/*========= CSS Base ========*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-body);
    font-weight: var(--fw-normal);
    color: var(--white);
    line-height: var(--lh-body);
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    background-color: hsl(var(--purple-600));
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    font-size: var(--fs-heading);
    font-weight: var(--fw-bold);
    line-height: var(--lh-heading);
    margin-bottom: 1rem;
}

.container {
    max-width: calc(100vw - 5rem);
    margin-inline: auto;
}

header {
    margin-block: 2.39rem 4.36rem;
    padding-inline: 2.5rem;
}

article {
    display: grid;
    gap: 3.75rem;
    padding-inline: 2.25rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
}

footer {
    margin-bottom: 2.5rem;
}

.logo {
    width: var(--logo-width);
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.68rem;
    justify-content: center;
}

li {
    width: var(--icon-width);
    height: var(--icon-height);
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

li > a {
    color: inherit;
}

a:hover, 
a:focus {
    color: hsl(var(--magenta-800));
    outline: none;
}

li:has(a:hover, a:focus) {
    border-color: hsl(var(--magenta-800));
}

button {
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    color: hsl(var(--purple-600));
    font-family: inherit;
    font-size: var(--fs-button);
    line-height: var(--ln-button);
    width: 12.5rem;
    height: var(--btn-height);
    background-color: var(--white);
    border-radius: var(--radius);
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.27);
    margin-top: 1.5rem;
}

button:hover,
button:focus {
    background-color: hsl(var(--magenta-600));
    color: var(--white);
}

@media screen and (min-width: 768px) {
    :root {
        --btn-height: 3.5rem;
        --icon-height: 2.5rem;
        --icon-width: 2.5rem;

        --fs-heading: 2.5rem;
        --lh-heading: 3.75rem;
        --fs-body: 1.125rem;
        --lh-body: 1.6875rem;
        --fs-button: 1.125rem;
        --ln-button: 1.6875rem;

        --radius: 1.75rem;
        --logo-width: 12.5rem;
    }


    body {
        background-image: url("./images/bg-desktop.svg");
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    h1 {
        margin-bottom: 1.5rem;
    }

    header {
        margin-block: 4rem 5.75rem;
    }

    article {
        grid-template-columns: 43.5rem 1fr;
        gap: 3.69rem;
    }

    .content {
        text-align: left;
        align-items: flex-start;
    }

    ul {
        justify-content: flex-end;
    }
}

